<div id="sidebar">
  <header style="display: inline-grid;">

    <img src="images/photo4.png" width="400" height="400" align="center" style=" display: inline-block;" />

    <!--
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
  
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
     
      {{ site.title }}

    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
     -->

    <div id="pho" align="center" style="display:flex; margin: 0 auto;">
      <p style="font-size: 13px; color: #aaa;">
      <img src="images/camera.png" width="20" height="20" align="center" style="float: left ; display: inline-block; margin-right: 5px; align-items: center;"/>
      May. 2017 at Chongqing, China
      </p>
    </div>

    <h1 class="site-title">
  
      <a href="/">
        Kaijuan
      </a>
    </h1>
  

    <!--
    <p class="lead" text-align="center" style="font-size: 26px">{{ site.description }}</p>
  -->
  </header>
  {% include sidebar-nav-links.html %}

<!--
  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
-->

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>