<!DOCTYPE html>
<html lang="en-us">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?76e6d5cd0ebebd1fb1ba892905a4f6cc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
        <p class="lead" align="right" style="font-size: 20px; color: #aaa">· Keep calm and carry on.</p>
    
    </main>

   

    {% include custom-foot.html %}
  </body>
</html>
