---
layout: default
---

<div class="content">
  <!--{% include pagination-newer.html %} Made by Helen-->

  {{ content }}

  {% for post in paginator.posts %}
  <article class="post-body">
    <h2 class="post-title" style="color: #303030; font-family: Abril Fatface, serif; font-weight: normal; font-size: $large-font-size; margin-top: 0;">
      <!--
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    -->

     {{ post.title }}
    </h2>
    <!--
    {% include post-meta.html post=post %}
  -->
    <hr/ style="margin-bottom: 15px; margin: 0.5rem 0; border: 0; border-top: 1px solid #666666; border-bottom: .5px solid #666666;">

    <p>
      Master student at the State Key Lab of CAD&CG, Zhejiang University, advised by Prof. Yingcai Wu.
    </p>

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ site.baseurl }}{{ post.url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article>
  <p class="lead" align="right" style="font-size: 20px; color: #aaa">{{ site.description }}</p>
  {% endfor %}

</div>